.header
  .header_title
    TaskTool
  .header_right
    =link_to "リストを作成", new_list_path

.background
  .lists
    - @list.each do |list|
      %ul#content1.content
        .title
          .title_name
            = list.name
          .title_edit
            = link_to "編集", edit_list_path(list.id)
            = link_to "削除", list, method: :delete, data: {confirm: "#{list.name}を削除していいですか？"}
        -# %li card1-1
        -# %li card1-2
        -# %li card1-3
        -# %li card1-4
        -if @list != ""
          .card_create
            =link_to "カードの作成","#"
    
    %ul#content2.content
      .title 
        title2
      %li card2-1
      %li card2-2
      %li card2-3
      .card_create
        =link_to "カードの作成","#"

    %ul#content3.content
      .title 
        title3
      %li card3-1
      %li card3-2
      %li card3-3
      .card_create
        =link_to "カードの作成","#"

    -# %ul#content4.content
    -#   .title 
    -#     title3
    -#   .card_create
    -#     =link_to "カードの作成","#"


    :javascript
      $(function(){
        $('.content').sortable({
          connectWith: ".content",
          
        });
        
        // $(',content').resizable();
        
        // $('.target').droppable({
        //   accept: '.box',
        //   hoverClass: 'hover',
        //   tolerance: 'fit',
        //   drop: function(e, ui){
        //     ui.draggable.appendTo(this);
        //     console.log('dropped!');
        //   }
        // });
      });
