.card_edit_link{
  margin-top: 50px;
}



.show{
  text-align: center;
  margin-top: 50vh ;
  font-size: 40px;

  .card_show_title{
    margin: 20px;
  }

  .card_show_memo{

  }
}

span{
  color: blue;
}